.gate-count-select {
  color: blue;
  font-size: 14px;
  font-weight: 800;
  min-width: 120px;
  background-color: lightgray;
  cursor: pointer;
  padding: 2px;
}

.gate-count-option {
  font-size: 14px;
  font-weight: 800;
}
